@media (max-width: 600px) {
    .container-bio{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .cards-container {
        padding: 40px 20px;
        gap: 20px;
    }

    .card {
        width: 100px !important;
        padding: 20px 10px;
        display: flex;
    }

    .secao-conteudo {
        flex-direction: column !important;
        gap: 20px;
    }

    .col-texto h2{
        text-align: center;
    }

    .col-texto p{
        text-align: justify;
        font-size: 16px;
    }

}

html {
    scroll-behavior: smooth;
}

body { 
    background: linear-gradient(-45deg, #a8e6cf, #dcedc1, #FFF8EC); /*faz dar um degrade
    no fundo em vez de uma cor solida, de acordo com as cores que voce adicionar, e no sentido nesse
    45deg = 45 graus ou seja na diagonal */
    background-size: 400% 400%;
    font-family: 'Segoe UI';
    margin: 0; /*tirar a margem padrão que o navegador ja coloca*/
    color: #333;
}

nav {
    background-color: #99AD7A;
    border-radius: 10px;
    height: 60px;
    border: 2px solid #546B41 ;
    display: flex;
    align-items: center; /*centraliza verticalmente o conteúdo*/
    padding-left: 20px; /*afasta o título apenas na esquerda*/
    margin: 20px; /*afasta toda a nav da margem da tela*/
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); /*cria uma sombra 0 é a posição horizontal 4px 
    é o vertical, 6px eh o desfoque e rgba e para definir a cor (red, green, red, alpha)*/
}

.titulo {
    color: #FFF8EC;
    margin: 0;
}

.container-bio {
    display: flex;
    align-items: center; /*centraliza  verticalmente*/
    justify-content: center; /*centraliza  horizontalmente*/
    gap: 20px;  /*cria uma espaço entre os conteíudos*/   
    padding: 40px 20px; /*da um espaço entre a caixa e o conteudo 40px no eixo y e 20px no eixo x*/
    max-width: 800px;
    width: 90%;
    margin: 0 auto; /*define margem de 0 no eixo Y e deixa automotico no eixo X*/
}

.imagem {
    border: 4px solid #546B41;
    border-radius: 15px;
    width: 250px;
    height: auto; /*a partir da largura arruma a altura, para a foto n ficar esticada*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.introducao h2 {
    color: #546B41;
    font-size: 28px;
    margin-bottom: 10px; /*cria espaço entre a caixa e borda do monitor só que apenas me baixo*/
}

.introducao p {
    font-size: 18px;
    line-height: 1.8;
}

.subtitulo {
    text-align: center;
    color: #546B41;
    margin-top: 20px;
    font-size: 24px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap; /*se a tela for pequena os blocos não couber lado a lado eles ficam em baixo*/
}

.card {
    background-color: #99AD7A;
    color: #FFF8EC;
    border-top: 7px solid #546B41;
    border-radius: 12px;
    width: 180px;
    padding: 30px 20px; /*espaçamento interno*/
    text-align: center;
    display: flex;
    flex-direction: column; /*deixa a foto e o texto em coluna um em cima do*/
    align-items: center;
    gap: 15px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s; /*define que sempre que
    o fundo ou a sombra muda tenha uma transição de 0.3s*/
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card:hover {
    background-color: #546B41;
    transform: translateY(-10px); /*faz o cartão subir no eixo Y*/
    box-shadow: 0 8px 15px rgba(0,0,0,0.2); 
    cursor: pointer;
}

.icone-card {
    width: 50px;
    height: auto;
}

.card-link {
    text-decoration: none; /*remove o sublinhado*/
    color: inherit;       /*mantem a cor padrão do texto*/
}

.secao-conteudo {
    padding: 60px 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.row-inverse {
    flex-direction: row-reverse; /*para as seções normais(primeiro texto depois foto)*/
}

.col-texto {
    flex: 1;
}

.col-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.col-imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    border: 4px solid #546B41;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.col-texto h2 {
    color: #546B41;
    font-size: 32px;
    margin-bottom: 20px;
}


.col-texto p {
    font-size: 18px;
    line-height: 1.8;
}

footer {
    background-color: #546B41;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}